# Chapter 6. 연습문제 정답

#### 1. iris 데이터 셋에서 species열만 별도로 빼서 iris_cl이라는 데이터 프레임을 만들어 보세요. 그리고 열 이름을 act로 바꿔보세요. (다양한 알고리즘을 비교하며 평가하기 위한 데이터 셋입니다.)

In [1]:
import seaborn as sns
import pandas as pd
iris = sns.load_dataset('iris')
iris_cl = pd.DataFrame(iris.species)
iris_cl.rename(columns = {'species' : 'act'}, inplace = True)
iris_cl.head()

      act
0  setosa
1  setosa
2  setosa
3  setosa
4  setosa

#### 2. iris 데이터 셋을 이용해 나이브 베이즈, AdaBoost, 랜덤 포레스트, 서포트 벡터 머신 총 4가지 분류 알고리즘으로 예측 모델을 생성해 보세요. (단, iris 데이터 셋을 훈련 및 테스트용 데이터 셋으로 분할하지 않고, 전체를 훈련용으로 사용하세요.)
(힌트) sklearn 패키지를 이용하면 위 4가지 분류 알고리즘을 구현할 수 있습니다.

In [2]:
x = iris.iloc[:,0:4].values
y = iris.iloc[:,4].values

In [3]:
from sklearn.naive_bayes import GaussianNB
model_nb = GaussianNB().fit(x, y)
from sklearn.ensemble import AdaBoostClassifier
model_adb = AdaBoostClassifier().fit(x, y)
from sklearn.ensemble import RandomForestClassifier
model_rf = RandomForestClassifier().fit(x, y)
from sklearn.svm import SVC
model_svm = SVC().fit(x, y)

#### 3. 2번에서 만들어진 예측 모델을 활용해 predict() 함수로 예측값을 생성해 iris_cl 데이터 셋에 각각의 결과를 새로운 열(pred_nb, pred_adab, pred_rf, pred_svm)을 만들어 입력하세요. (단, predict() 함수에 넣는 데이터는 편의상 훈련용 데이터와 동일한 iris 데이터 셋을 그대로 사용하세요.)

In [4]:
y_nb = model_nb.predict(x)
y_adb = model_adb.predict(x)
y_rf = model_rf.predict(x)
y_svm = model_svm.predict(x)

In [5]:
res_cl = pd.DataFrame(list(zip(y_nb, y_adb, y_rf, y_svm)),
                      columns = ['pred_nb','pred_adb','pred_rf','pred_svm'])

In [6]:
# 데이터 프레임을 열 기준(axis = 1)으로 합칠 경우 concat 메서드 이용
iris_cl = pd.concat([iris_cl, res_cl], axis = 1)
iris_cl.head()

      act pred_nb pred_adb pred_rf pred_svm
0  setosa  setosa   setosa  setosa   setosa
1  setosa  setosa   setosa  setosa   setosa
2  setosa  setosa   setosa  setosa   setosa
3  setosa  setosa   setosa  setosa   setosa
4  setosa  setosa   setosa  setosa   setosa

#### 4. 3번에서 만들어진 iris_cl 데이터 셋을 이용해 sklearn.metrics 모듈의 accuracy_score() 함수로 모델의 정확도를 비교해 보세요. 어떤 모델의 정확도가 가장 높은가요? 그리고 정확도는 얼마인가요?

∴ 랜덤포레스트, 정확도 100%

In [7]:
from sklearn.metrics import accuracy_score
print(accuracy_score(iris_cl.act, iris_cl.pred_nb), 
      accuracy_score(iris_cl.act, iris_cl.pred_adb),
      accuracy_score(iris_cl.act, iris_cl.pred_rf),
      accuracy_score(iris_cl.act, iris_cl.pred_svm))

0.96 0.96 1.0 0.9733333333333334